body{
    margin: 0;
    padding: 0;
}
#map {
    width: 100%;
    height: 100vh;
}

#popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1300px;
    height: 700px;
    margin-left: -650px;
    margin-top: -350px;
    border: 1px solid #ccc;
    z-index: 100;
    background-color: #82BFE7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#title{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
#textTitle {
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    line-height: 30px;
    color: #1f232b;
}
#titleClose {
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 30px;
}
.tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 30px;
}
.tab {
    width: 33.33%;
    height: 100%;
    background-color: #B0D8F5;
    border: 2px solid #B0D8F5;
    border-radius: 10px 10px 0 0;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}
.tab.active {
    background-color: #5BA4D3;
    border: 2px solid #5BA4D3;
}
.tabcontent {
    display: none;
    width: 100%;
    height: 90%;
    background-color: #E5F4FE;
}
#Tab1Left {
    width: 47%;
    height: 100%;
    float: left;
}

#Tab1Right {
    width: 53%;
    height: 100%;
    float: left;
}

#rMap {
    width: 100%;
    height: 100%;
}
#addrName{
    padding-top: 50px;
    font-size: 22px;
    font-weight: bold;
}
#buildingInfo1{
    width: 95%;
    margin-left: 15px;
    margin-top: 25px;
    border-top: 1px solid #505050;
    border-collapse: collapse;
}
#buildingInfo1 th, #buildingInfo1 td{
    border-bottom: 1px solid #505050;
    padding: 10px;
    text-align: center;
}

#buildingInfo2{
    width: 95%;
    margin-left: 15px;
    margin-top: 55px;
    border-top: 1px solid #505050;
    border-collapse: collapse;
    margin-bottom: 20px;
}
#buildingInfo2 th, #buildingInfo2 td{
    border-bottom: 1px solid #505050;
    padding: 10px;
    text-align: center;
}

#Tab2{
}

#Tab2 img{
    width: 50px;
    height: 50px;
}

#moreBuilding {
    border-collapse: collapse;
    text-align: left;
    line-height: 280%;
    border-top: 1px solid #505050;
    border-left: 3px solid #369;
    margin-left: 10px;
    margin-right: 0;
    width: 98%;
}

#loading{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);
    z-index: 100;
    padding: 100%;
}

#moreBuilding th {
    width: 147px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #153d73;
    border-right: 1px solid #818181;
    border-bottom: 1px solid #505050;

}
#moreBuilding td {
    width: 349px;
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #818181;
    border-bottom: 1px solid #505050;
}

#Tab3{
    overflow: auto;
}

#Tab3 table{
    margin-top: 10px;
    width: 100%;
    border-top: 1px solid #3A87B9;
    border-collapse: collapse;
}

#Tab3 table th, #Tab3 table td{
    border-bottom: 1px solid #82BFE7;
    padding: 10px;
    text-align: center;
}

#Tab3 table thead tr{
    background-color: #3A87B9;
    color: #FFFFFF;
}

#Tab3 table tbody tr:nth-child(2n){
    background-color: #E5F4FE;
}

#Tab3 table tbody tr:nth-child(2n+1){
    background-color: #fff;
}

