
*{margin:0;padding:0;box-sizing:border-box;border:0;-webkit-tap-highlight-color: rgba(0,0,0,0);}
html {height:100%;}
body{height:100%;background:#292b30;font-family:'Noto Sans KR', sans-serif;color:#6a707e;;line-height:1.3;letter-spacing:-0.5px;font-size:14px;}
img{margin:0;padding:0;border:0;}
ul, ol, li{list-style: none;}
a{text-decoration: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}
input, textarea, select, button{font-size: inherit; font-family: inherit;
line-height: inherit; font-family:'Noto Sans KR', sans-serif; }
input:focus, button:focus, textarea:focus, select:focus{outline: none;}
label, button{cursor: pointer; font-weight: normal; background: none;}
input{-webkit-appearance:none;-webkit-border-radius:0;}
select{border-bottom:1px solid #3a3a3a;}
textarea{-webkit-appearance:none;-webkit-border-radius:0;}
legend {position:absolute;top:0;left:-100000000000px;}
table {border-collapse:collapse; border-spacing:0;}
caption {height:0;font-size:0;}
h1,h2 {font-weight:400;}
strong {font-weight:700;}
em, address {font-style:normal;}
.hidden {position:absolute;top:0;left:-10000000000000px;width:0;height:0;}
input::placeholder {}
a {text-decoration:none;color:#222;}

select {height:34px;padding:0 40px 0 20px;border:1px solid #d5d5d5;/*border-radius:6px;*/
background: rgb(232, 240, 254) url(images/bg_select.png) no-repeat right center;
font-size:14px;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
select::-ms-expand {display: none;}
input[type="text"], input[type="password"] {width: 100%; vertical-align:top;height:28px;border:1px solid #d5d5d5;
background:#f1f1f1;color:#6a707e;font-size:14px;text-indent:11px;}
input[type="text"]:focus, input[type="password"]:focus {border:1px solid #d0d0d0;}

.zix2000{z-index:2000 !important;}
.noheader .ui-dialog-titlebar{display: none !important;}
.ui-dialog .ui-dialog-titlebar-close{z-index: 2500;}
/*위는 특정 팝업의 헤더 없애기 위한 것. 이런 식으로 사용 $(".pop21").parent().addClass("noheader");*/
.select {width:100%; position:relative;display:inline-block;vertical-align:middle;color:#fff;font-size:14px;}
.select dt a {width:100%;  display:block;height:28px;padding:0 40px 0 11px;border:1px solid #d5d5d5;
background: #fff url(images/bg_select.png) no-repeat right center;color:#6a707e;
font-size:14px;line-height:26px;}
.select dt a.on {background: #fff url(images/bg_select_u.png) no-repeat right center;}
.select dd {display:none;position:absolute;top:30px;left:0;width:100%;
padding:0 !important;border:1px solid #d5d5d5; max-height: 380px; overflow-y: auto;
background:#fff;color:#6a707e;font-size:14px; z-index:1000;}

.select dd.inverse {display:none;position:absolute;top:unset; bottom:33px; left:0;width:100%;
padding:0 !important;border:1px solid #d5d5d5;
background:#fff;color:#6a707e;font-size:14px; z-index:1000;}
.select dd ul {padding:10px 0;}
.select dd ul li {padding:0 0 0 11px;line-height:25px; color:#6a707e;}
.select dd ul li:hover {background:#e2e2e2;}
.select dd.on {display:block;}
.select.date_y {width:90px;}
.select.date_m {width:80px;}
.select.select-wide{width:100%;}
.no_bd_bt{border-bottom: none !important;}
.tt-left .ui-dialog-titlebar{text-align: left !important;}
.tt-left .ui-dialog .ui-dialog-title{float: none;}


#wrap {min-width:1362px;height:100%;min-height:830px;}
/* 공통영역 */

#map{
    width: 100%;
    height: 100%;
    position: fixed; 
    z-index: 0; 
    overflow: hidden; 
}

.ol-control{display: none;}
#lnb {position:absolute;top:62px;left:10px;z-index:98;
width:66px;background:#1f232b; border:1px solid #4997f6;}

#lnb > ul {position:relative;z-index:10;height:100%;}
#lnb > ul > li {width:100%; height:79px; border-top:1px solid #4997f6;}
#lnb > ul > li:first-child{border-top:none; height:78px;}
#lnb > ul > li > a {position:relative;display:table;vertical-align: middle;
width:100%;height:100%;text-align:center; font-size:13px; line-height: 17px; padding-top:35px;
font-weight: 500;}


#lnb > ul > li > a.lnb001{background:#ffffff url(images/lnb001.png) no-repeat center 12px; color:#4997f6; }
#lnb > ul > li > a.lnb002{background:#ffffff url(images/lnb002.png) no-repeat center 12px; color:#4997f6; }
#lnb > ul > li > a.lnb003{background:#ffffff url(images/lnb003.png) no-repeat center 12px; color:#4997f6; }
#lnb > ul > li > a.lnb004{background:#ffffff url(images/lnb004.png) no-repeat center 12px; color:#4997f6; }
#lnb > ul > li > a.lnb005{background:#ffffff url(images/lnb005.png) no-repeat center 12px; color:#4997f6; }
#lnb > ul > li > a.lnb006{background:#ffffff url(images/lnb001.png) no-repeat center 12px; color:#4997f6; }

#lnb > ul > li > a.lnb001:hover, #lnb > ul > li > a.lnb001:focus
{background:#5fa5fa url(images/lnb001h.png) no-repeat center 12px; color:#fff;}
#lnb > ul > li > a.lnb002:hover, #lnb > ul > li > a.lnb002:focus
{background:#5fa5fa url(images/lnb002h.png) no-repeat center 12px; color:#fff;}
#lnb > ul > li > a.lnb003:hover, #lnb > ul > li > a.lnb003:focus
{background:#5fa5fa url(images/lnb003h.png) no-repeat center 12px; color:#fff;}
#lnb > ul > li > a.lnb004:hover, #lnb > ul > li > a.lnb004:focus
{background:#5fa5fa url(images/lnb004h.png) no-repeat center 12px; color:#fff;}
#lnb > ul > li > a.lnb005:hover, #lnb > ul > li > a.lnb005:focus
{background:#5fa5fa url(images/lnb005h.png) no-repeat center 12px; color:#fff;}
#lnb > ul > li > a.lnb006:hover, #lnb > ul > li > a.lnb006:focus
{background:#5fa5fa url(images/lnb001h.png) no-repeat center 12px; color:#fff;}
#lnb > ul > li.active > a.lnb001
{background:#4997f6 url(images/lnb001h.png) no-repeat center 12px; color:#fff;}
#lnb > ul > li.active > a.lnb002
{background:#4997f6 url(images/lnb002h.png) no-repeat center 12px; color:#fff;}
#lnb > ul > li.active > a.lnb003
{background:#4997f6 url(images/lnb003h.png) no-repeat center 12px; color:#fff;}
#lnb > ul > li.active > a.lnb004
{background:#4997f6 url(images/lnb004h.png) no-repeat center 12px; color:#fff;}
#lnb > ul > li.active > a.lnb005
{background:#4997f6 url(images/lnb005h.png) no-repeat center 12px; color:#fff;}
#lnb > ul > li.active > a.lnb006
{background:#4997f6 url(images/lnb001h.png) no-repeat center 12px; color:#fff;}



#lnb > ul > li > ul {display:none;position:absolute;top:0;left:50px;z-index:1;width:50px;height:100%;background:#2f3443;transition:0.5s;}
#lnb > ul > li > ul.on {display:block;}
#lnb > ul > li > ul > li {height:33.33%;}
#lnb > ul > li > ul > li > a {position:relative;display:table;vertical-align: middle;width:100%;height:100%;text-align:center;color:#a6afc9;}
#lnb > ul > li > ul > li.active > a {background:#494f63;}


.sbmenu {position:absolute;top:-1px;left:-446px;
z-index:2;width:380px;padding-bottom:25px;background:#fff;transition:0.5s; border:1px solid #4997f6;}
#lnb .title {margin:0 30px; border-bottom: 2px solid #4997f6; color:#4997f6; font-size: 18px;
font-family:"나눔스퀘어",'NanumSquare', sans-serif; font-weight: 700; height:64px; line-height: 70px;}
#lnb .subtitle {margin:5px 12px 0 12px;}
.sbmenu.active {left:64px;transition:0.5s;}
.sbmenu .bd{padding:0px 30px; text-align: center;}
.sbmenu .scrollDv {padding:0px; }
.sbmenu .scrollDv > div {max-height:620px; text-align: center;}
.sbmenu .normalDV {padding:0px; text-align: center;}
/*.sbmenu .close {position:absolute;top:25px;right:30px;width:14px;height:14px;
    background:url(images/lnb_panel_close.png) no-repeat center;font-size:0;}*/
.sbmenu .bot_btn {padding:25px 12px 0 12px;}
.sbmenu .chkall {margin-bottom:7px;text-align:right;}
.sbmenu .dvs {padding-right:30px;}
.sbmenu.ssub {}
.sbmenu.ssub.active {left:100px;transition:0.5s;}
.sbmenu .srhtab {height:32px;margin-bottom:6px;color:#a6afc9;}
.sbmenu .srhtab .srhtit {float:left;width:94px;line-height:32px;}
.sbmenu .srhtab .dsecl {float:left;}
.sbmenu .srhtab .ea {float:left;width:18px;text-align:right;line-height:32px;}
.sbmenu .srhtab .btn_smr {width:110px;}
.sbmenu .srhtab .srhbtn {float:right;}
.sbmenu .tgwr {padding-right:60px;}


.txtardv .scrollDv {padding:5px;background:#fff;}
.txtardv .scrollDv > div {max-height:152px;}
.txtardv .scroll-bar {background:#c5c7cf !important;}
.txtardv .scrollbar-inner {padding:4px 0px !important;}


/*lnbmenu1*/
.ly-title{font-size: 15px; color:#6a707e; text-align: left; font-weight: 700;
    margin-top:24px;}
.ly-wrap{margin-left:17px; border-left:1px solid #d5d5d5;}

.bd .subtitle{height: 50px; border: 1px solid #eeeeee; text-align: left;margin-top: 10px;}
.bd .subtitle .span{float: left;    background: #f6f7f9;    text-align: center;    font-size: 14px;    font-weight: 700;    display: block;    width: 79px;    height: 49px;
    line-height: 49px;    border-right: 1px solid #d5d5d5;    color: #6a707e;}
.bd .subtitle select{position: absolute; margin-left: 6px;  margin-top: 6px; width: calc(100% - 180px);}

/*lnbmenu2*/
.search_wrap{border:1px solid #d5d5d5; margin-top:30px;}
.search_wrap:after{content: ""; display: block; clear: both;}
.search_wrap label{float: left; background: #f6f7f9; text-align: center; font-size:14px; font-weight: 700;
display: block; width:79px; height: 49px; line-height: 49px; border-right:1px solid #d5d5d5; color:#6a707e;}
.search_wrap input{float: left; width: calc(100% - 150px);
margin-left:6px; margin-top:10px; border:1px solid #d5d5d5; background: #f6f7f9; color:#6a707e;
font-size:14px; height: 28px;}
.s_btn{height:42px; line-height: 48px; width:244px; margin:20px auto 0px;  padding: 4px;   background: #4997f6;   border: 1px solid #4997f6;  color: white;}
.tab_wrap:after{content: ""; display: block; clear: both; border-bottom:3px solid #4997f6;}
.tab_wrap a{display: block; float: left; width:104px; margin-left:3px; background: #abb2c2;
height: 38px; border-bottom:3px solid #fff; line-height:35px; color:#fff; font-size:14px; text-align: center;
margin-top:30px;}
.tab_wrap a.on{ border-bottom:3px solid #4997f6; background: #4997f6}
.tab_wrap a:first-child{margin-left: 0px;}
#lnbmenu2 .scrollDv{margin-top:5px;}
#lnbmenu2 .scrollDv > div {height: 460px}
#lnbmenu2 .scroll-wrapper > .scroll-content{overflow: scroll;}

.search_result li:nth-child(2n-1){background:#f6f7f9;}
.search_result li:first-child{border-top:none;}
.search_result li{height: 30px; padding-top: 5px}
.search_result li a {padding:10px 14px;height: 44px;line-height: 19px;font-size:14px;text-align:center;color:#6a707e;text-align: left;}


/* lnbmenu3 */
.bd2 {padding: 5px ; border-bottom: 2px solid #4997f6;}
.bd2 select{font-size:0.6em; padding: 0px 3px; min-width: 60px;}

/*navi*/


.main-rr-menus{position: fixed;  top:354px; right:10px; width: 42px;
background: #fff; border:1px solid #4997f6; z-index: 99}
.main-r-menu{display: block; width:100%; height:51px; border-top:1px solid #e2e2e2;}
.main-r-menu:first-child{border-top:none; height:50px;}
.main-r-menu.mr001{background: url(/assets/images/ico_mr1.png) center no-repeat;}
.main-r-menu.mr002{background: url(/assets/images/ico_mr2.png) center no-repeat;}
.main-r-menu.mr003{background: url(/assets/images/ico_mr3.png) center no-repeat;}
.main-r-menu.mr004{background: url(/assets/images/ico_mr4.png) center no-repeat;}
.main-r-menu.mr003.active{background: #4997f6 url(/assets/images/ico_mr3h.png) center no-repeat;}
.main-r-menu.mr004.active{background: #4997f6 url(/assets/images/ico_mr4h.png) center no-repeat;}
.main-r-menu.mr005{background: url(/assets/images/ico_mr5.png) center no-repeat;}
.main-r-menu.mr006{background: url(/assets/images/ico_mr6.png) center no-repeat;}
.main-r-menu.mr007{background: url(/assets/images/ico_mr7.png) center no-repeat;}
.main-r-menu.mr007.active{background: #4997f6 url(/assets/images/ico_mr7h.png) center no-repeat;}

.main-ra-menus{display: none}
.main-rr-menus a{  text-align: center;  font-size: 13px;     color: #4997f6;     padding-top: 9px;}

.main-ra-menus.active{display: block; position: fixed;  top:456px; right:50px;
background: #fff; border:1px solid #4997f6; z-index: 1000}
.main-ra-menu:after{content: ""; display: block; clear: both;}
.main-ra-menu{display: block; width:100%; width:41px; height:50px; border-left:1px solid #e2e2e2;
float: left;}
.main-ra-menu:first-child{border-left:none; width:40px;}

.main-ra-menu.mra001{background: url(/assets/images/ico_mr_a1.png) center no-repeat;}
.main-ra-menu.mra002{background: url(/assets/images/ico_mr_a2.png) center no-repeat;}
.main-ra-menu.mra003{background: url(/assets/images/ico_mr_a3.png) center no-repeat;}
.main-ra-menu.mra004{background: url(/assets/images/ico_mr_a5.png) center no-repeat;} 
.main-ra-menu.mra005{background: url(/assets/images/ico_mr2.png) center no-repeat;} 

.main-rb-menus{display: none}
.main-rb-menus.active{display: block; position: fixed;  top:507px; right:50px;
background: #fff; border:1px solid #4997f6; z-index: 1000}
.main-rb-menu:after{content: ""; display: block; clear: both;}
.main-rb-menu{display: block; width:100%; width:41px; height:50px; border-left:1px solid #e2e2e2;
float: left;}
.main-rb-menu:first-child{border-left:none; width:40px;}

.main-rb-menu.mrb001{background: url(/assets/images/ico_mr_b1.png) center no-repeat;}
.main-rb-menu.mrb002{background: url(/assets/images/ico_mr_b2.png) center no-repeat;}
.main-rb-menu.mrb003{background: url(/assets/images/ico_mr_b3.png) center no-repeat;}
    