#map {
    width: 100%;
    height: 10px;
}

body{
    margin: 0;
    padding: 0;
}

.topTools {
    position: fixed;
    top: 56px;
    left: 50%;
    padding-right: 5px;
    padding-left: 5px;
    transform: translate(-70%, 0);
}

.topTools img {
    width: 50px;
    border: black 2px solid;
    background-color: #ffffff;
}

#seeBox{
    position: fixed;
    top: 120px;
    background-color: #F5F5F5;
    width: 90%;
    height: 10px;
    overflow-y: scroll;
    transform: translate(10%, 0);
    box-shadow: 20px 20px 20px grey;
}
.seeBoxList {
    border: #616161 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
    background-color: #F5F5F5;
}

.onofSwitch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    float: right;
}

.onofSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.chkSwitch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    background-color: #ccc;
    box-shadow: inset 1px 5px 1px #999;
    -webkit-transition: .4s;
    transition: .4s;
}

.chkSwitch:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 1px;
    background-color: #fff;
    -webkit-transition: .5s;
    transition: .4s;
    border-radius: 20px;
}

.onofSwitch input:checked + .chkSwitch {
    background-color: #F2D522;
    box-shadow: inset 1px 5px 1px #E3AE56;
}

.onofSwitch input:checked + .chkSwitch:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(19px);
}

.onoffSpan {
    float: left;
}


#filecheck {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#popup {
    background-color: white;
    width: 60%;
    height: 200px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#popup-title {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

#popup-content {
    text-align: center;
    padding: 20px;
    overflow: auto;
    max-height: 500px;
}

#popup-design {
    text-align: center;
    padding: 10px;
    display: none;
}

.chkimg{
    width: 30px;
    height: 30px;
    filter: opacity(0.5) drop-shadow(0 0 0 yellow);
}

.designimg{
    width: 30px;
    height: 30px;
    filter: opacity(0.5);
}

#ok-design{
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    background-color: #4CAF50;
    color: white;
    border: none;
}

#cancel-design{
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    background-color: #DC143C;
    color: white;
    border: none;
}

#popup-buttons {
    text-align: center;
    padding: 10px;
}

#popup-buttons button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

#popup-buttons button#cancel-button {
    background-color: #DC143C;
    color: white;
    border: none;
}

#popup-buttons button#cancel-button:hover {
    background-color: #FF6961;
}

#popup-buttons button#ok-button {
    background-color: #4CAF50;
    color: white;
    border: none;
}

#popup-buttons button#ok-button:hover {
    background-color: #32CD32;
}

#popup-buttons button#design-button {
    background-color: #487CEA;
    color: white;
    border: none;
}

#popup-buttons button#design-button:hover {
    background-color: #66CCCC;
}


#open-popup {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
}

#open-popup:hover {
    cursor: pointer;
}

.xlsxdownload{
    position: fixed;
    bottom: 7px;
    left: 10px;
}

ul.geolists li{
    padding: 5px 0px 5px 5px;
    font-size: 12px;
    width: 95%;
    list-style: none;
    color: #212121;
}

.SeeBoxTitle{
    background-color: #9E9E9E;
    color: #F5F5F5;
}

#guide{
    position: fixed;
    bottom: 7px;
    right: 10px;
    background-color: #FFFFFF;
    font-size: 20px;
}